@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, bumblebee, emerald,
    corporate, synthwave, retro, cyberpunk, valentine, halloween, garden,
    fantasy, aqua, lofi, pastel, fantasy wireframe, black, luxury, dracula, cmyk,
    autumn, business, acid, lemonade, night, winter, dim, nord, sunset;
}
